%h1 Bienvenido al 3er Concurso Perú Gourmet

.video
  :erb
    <iframe width="640" height="345" src="http://www.youtube.com/embed/JC4xh1bO7ww" frameborder="0" allowfullscreen></iframe>
.divisor
.send_us
  = link_to "Envíanos tu receta para un Perú adelante", new_message_path
.divisor
%h1 Revisa las recetas para un Perú adelante
%h2 Filtra por la categoría de tu interés

%ul#categories
  / %li= link_to "Todos", "/", :rel => "false"
  - Category.all.each do |c|
    %li= link_to c.name, "#", :rel => c.id

%ul#messages_list
  = render @messages

%div{:style=>"display:none;"}
  = @data.inspect if @data